/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss';

:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 250, 250, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  padding-top: 64px; /* Height of the navigation bar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
